<IfModule mod_rewrite.c>
RewriteEngine On                           

  RewriteCond %{HTTP_HOST} !^localhost [NC]
  RewriteRule ^(.*)$ http://localhost/$1 [R=301,NC,L]
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>